<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>

        <div class="jumbotron">
            <h1> Birthdays </h1>
        </div>

    </head>
    <body>
        <div class="container">
            <div class="section" style="text-align:center">

                <h5>Add a birthday.</h5>
                <!-- TODO: Create a form for users to submit a name, a month, and a day -->
            </div>

            <div class="section">
            <table class="table table-striped" style="text-align:center">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Birthday</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- TODO: Loop through the database entries to display them in this table -->
                </tbody>
            </table>
            </div>
        </div>
    </body>
</html>
